body {
  font-weight: bold;
}

#cut-tab-content,
.custom-file-label {
  color: #fff;
}

#cut-tab-content embed,
#cut-tab-content thead,
#cut-tab-content a,
.num {
  color: #399;
}

#cut-tab-content button {
  background-color: #399;
  color: #fff;
}

.pdfcut-cyan {
  background-color: #399;
  border-color: #399;
  color: #fff;
}

.pdfcut-right {
  float: right;
}

.cutvise {
  color: #399 !important;
  background-color: #fff !important;
}

.card-body {
  padding: 0px;
}

tr, th, td {
  text-align: center;
  vertical-align: middle;
}

.from, .to {
  width: 4rem;
}

#pdfcut-choose-layout {
  width: 75%;
  height: 25%;
}

#pdfcut-table-layout {
  width: 75%;
}

#pdfcut-controls-layout {
  width: 25%;
  padding: 1%;
  display: inline-block;
}

#pdf-view {
  border: 1px solid #399;
  width: 80%;
  height: 50%;
}

.card {
  display: inline-block;
}

.title {
  width: fit-content;
}